<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="js/fetchSensorData.js"></script> <!-- Include the external JavaScript file -->
    <script src="js/fetchSpecies.js"></script> <!-- Include the external JavaScript file -->
    <script src="js/knowledgebase.js"></script> <!-- Include the external JavaScript file -->
    <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
    <h1>Home</h1>
    <p>Our web application displaying farm information ( PUB -SUB MODEL ).</p>
    <p>This is our latest sensor data:</p>
    <table>
        <tr>
            <th>Icon</th>
            <th>Sensor Type</th>
            <th>
                <select name="Farm" id="FarmSelect">
                    <option value="1">Farm 1</option>
                    <option value="2">Farm 2</option>
                </select>
            </th>
        </tr>
        <tr>
            <td><img src="https://img.icons8.com/?size=100&id=iec40DMGTCZY&format=png&color=000000" alt="Timestamp Icon" style="width:20px;height:20px;"></td>
            <td>Timestamp</td>
            <td><span id="timestamp"></span></td>
        </tr>
        <tr>
            <td><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="20" height="20">
                <path d="M160 64c-26.5 0-48 21.5-48 48V276.5c0 17.3-7.1 31.9-15.3 42.5C86.2 332.6 80 349.5 80 368c0 44.2 35.8 80 80 80s80-35.8 80-80c0-18.5-6.2-35.4-16.7-48.9c-8.2-10.6-15.3-25.2-15.3-42.5V112c0-26.5-21.5-48-48-48zM48 112C48 50.2 98.1 0 160 0s112 50.1 112 112V276.5c0 .1 .1 .3 .2 .6c.2 .6 .8 1.6 1.7 2.8c18.9 24.4 30.1 55 30.1 88.1c0 79.5-64.5 144-144 144S16 447.5 16 368c0-33.2 11.2-63.8 30.1-88.1c.9-1.2 1.5-2.2 1.7-2.8c.1-.3 .2-.5 .2-.6V112zM208 368c0 26.5-21.5 48-48 48s-48-21.5-48-48c0-20.9 13.4-38.7 32-45.3V144c0-8.8 7.2-16 16-16s16 7.2 16 16V322.7c18.6 6.6 32 24.4 32 45.3z"/>
            </svg></td>
            <td>Temperature</td>
            <td><span id="temperature"></span></td>
        </tr>
        <tr>
            <td><img src="https://img.icons8.com/?size=100&id=55655&format=png&color=000000" alt="Luminosity Icon" style="width:20px;height:20px;"></td>
            <td>Luminosity</td>
            <td><span id="luminosity"></span></td>
        </tr>
        <tr>
            <td><img src="https://img.icons8.com/?size=100&id=9454&format=png&color=000000" alt="Air Humidity Icon" style="width:20px;height:20px;"></td>
            <td>Air Humidity</td>
            <td><span id="airHumidity"></span></td>
        </tr>
        <tr>
            <td><img src="https://img.icons8.com/?size=100&id=25780&format=png&color=000000" alt="Soil Humidity Icon" style="width:20px;height:20px;"></td>
            <td>Soil Humidity</td>
            <td><span id="soilHumidity"></span></td>
        </tr>
            <td><img src="https://img.icons8.com/?size=100&id=fpgHIVNpHOWx&format=png&color=000000" alt="PH Level Icon" style="width:20px;height:20px;"></td>
            <td>pH Level</td>
            <td><span id="pHLevel"></span></td>
        </tr>
        <tr>
            <td><img src="https://img.icons8.com/?size=100&id=31842&format=png&color=000000" alt="Wind Speed Icon" style="width:20px;height:20px;"></td>
            <td>Wind Speed</td>
            <td><span id="wind"></span></td>
        </tr>
    </table>

    
    <div>
        <p><b> Your species: </b><span id="speices"></span></p>
        <label> Please chose the Period: </label>
        <select name="period" id="periodSelect">
            <!-- Options will be populated dynamically -->
        </select> 
    </div>
    
    <h1>Automated Control Logic</h1>
    <div class="control-container">
        <div id="luminosityControl" class="control-frame">
            <h2>Light Control</h2>
            <img src="https://img.icons8.com/?size=100&id=55655&format=png&color=000000" alt="Luminosity Icon">
            <p>Action: <span id="luminosityAction">N/A</span></p>
        </div>
        <div id="temperatureControl" class="control-frame">
            <h2>Air Conditioner</h2>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                <path d="M160 64c-26.5 0-48 21.5-48 48V276.5c0 17.3-7.1 31.9-15.3 42.5C86.2 332.6 80 349.5 80 368c0 44.2 35.8 80 80 80s80-35.8 80-80c0-18.5-6.2-35.4-16.7-48.9c-8.2-10.6-15.3-25.2-15.3-42.5V112c0-26.5-21.5-48-48-48zM48 112C48 50.2 98.1 0 160 0s112 50.1 112 112V276.5c0 .1 .1 .3 .2 .6c.2 .6 .8 1.6 1.7 2.8c18.9 24.4 30.1 55 30.1 88.1c0 79.5-64.5 144-144 144S16 447.5 16 368c0-33.2 11.2-63.8 30.1-88.1c.9-1.2 1.5-2.2 1.7-2.8c.1-.3 .2-.5 .2-.6V112zM208 368c0 26.5-21.5 48-48 48s-48-21.5-48-48c0-20.9 13.4-38.7 32-45.3V144c0-8.8 7.2-16 16-16s16 7.2 16 16V322.7c18.6 6.6 32 24.4 32 45.3z"/>
            </svg>
            <p>Action: <span id="temperatureAction">N/A</span></p>
        </div>
        <div id="soilHumidityControl" class="control-frame">
            <h2>Water Pump</h2>
            <img src="https://img.icons8.com/?size=100&id=25780&format=png&color=000000" alt="Soil Humidity Icon">
            <p>Action: <span id="soilHumidityAction">N/A</span></p>
        </div>
        <div id="airHumidityControl" class="control-frame">
            <h2>Humidifier Activation</h2>
            <img src="https://img.icons8.com/?size=100&id=9454&format=png&color=000000" alt="Air Humidity Icon">
            <p>Action: <span id="airHumidityAction">N/A</span></p>
        </div>
        <div id="phControl" class="control-frame">
            <h2>pH Level Control</h2>
            <img src="https://img.icons8.com/?size=100&id=fpgHIVNpHOWx&format=png&color=000000" alt="PH Level Icon">
            <p>Action: <span id="pHLevelAction">N/A</span></p>
        </div>
        <div id="windControl" class="control-frame">
            <h2>Wind Barrier</h2>
            <img src="https://img.icons8.com/?size=100&id=31842&format=png&color=000000" alt="Wind Speed Icon">
            <p>Action: <span id="windSpeedAction">N/A</span></p>
        </div>
    </div>

    <div>
        <canvas id="sensorChart" width="400" height="100"></canvas> <!-- Canvas for the chart -->
    </div>
    
    <script src="js/chart.js"></script>
</body>
</html>
