<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/index.js"></script> <!-- Include the external JavaScript file -->
</head>
<body>
    <h1>Home</h1>
    <p>Welcome to the home page!</p>
    <p>This is our latest sensor data:</p>
    <ul>
        <li>Temperature: <span id="temperature"></span></li>
        <li>Air Humidity: <span id="airHumidity"></span></li>
        <li>Soil Humidity: <span id="soilHumidity"></span></li>
        <li>Luminosity: <span id="luminosity"></span></li>
        <li>pH Level: <span id="pHLevel"></span></li>
        <li>Wind: <span id="wind"></span></li>
    </ul>
</body>
</html>
